<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Simple HTTP Server</title>
        <meta name="description" content="A simple HTTP server home page." />
        <link rel="stylesheet" href="assets/styles.css" />
        <!-- Add any other common meta tags, stylesheets, or scripts here -->
    </head>
    <body>
        <h1>{{heading}}</h1>
        <p>This is the template file...</p>
    </body>
</html>
